body {
  min-width: 400px;
  text-align: center;
  padding: 10px;
  /* margin: 5px; */
  border-radius: 10px;
  /* border: 5px solid #ecf1d6; */
}

#extname {
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-align: start;
}

#error {
  background-color: #ffd7d7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 2px;
  border-radius: 10px;
  display: none;
}

#correct {
  background-color: #d7ffd7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 2px;
  border-radius: 10px;
  display: none;
}

/* 
h1 {
  font-size: 2rem;
}

div {
  font-size: 1.1rem;
  background-color: #fff47d;
}

#phonetic {
  color: brown;
  font-size: 1rem;
}

#example {
  font-size: 1rem;
  background-color: #9ddac6;
}

.navigate-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: #ffffff;
}

.navigator {
  text-decoration: none;
  display: inline-block;
  padding: 6px 14px;
}

.hidenavigator {
  display: none;
}

.navigator:hover {
  cursor: pointer;
  background-color: #ddd;
  color: black;
}

.previous,
.next {
  background-color: #f1f1f1;
  color: black;
}

.searchsvg {
  width: 17px;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.searchanchor {
  text-decoration: none;
  outline: none;
}

.searchanchor:hover {
  text-decoration: none;
  outline: none;
  border: none;
} */